.dropdown {
  overflow: visible !important;
  padding: 0 !important;
  margin: 0;
}

#itemText {
  font-size: 14px;
  padding: 0;
  height: auto;
  color: #1b294b;
  font-weight: bold;
}

#itemText:nth-child(2n) {
  background-color: #bda1cc;
}

#itemText:hover {
  background-color: #dabaeb;
}

#dropdown-basic {
  background-color: #bda1cc !important;
  font-weight: bold;
  color: #1b294b;
  border-color: #bda1cc;
}

#dropdown-basic + div {
  background-color: #b798c7 !important;
  font-weight: bold;
  color: #1b294b;
  border-color: #bda1cc;
}
