.outputBox {
  height: 22vh !important;
  overflow: scroll;
  scrollbar-width: none;
}

.executeButton {
  width: 30%;
}

#execute-button,
#course-button {
  background-color: #bda1cc !important;
  font-weight: bold;
  color: #1b294b;
  border-color: #bda1cc;
}

#execute-button:hover,
#course-button:hover {
  background-color: #d3b2e5 !important;
}

#course-button {
  width: 100%;
  margin-top: 10px;
}

#related-videos {
  position: absolute;
  bottom: 0;
}
