.carousel-caption {
  top: 40%;
}

.carousel-caption h5 {
  font-size: 36px;
  color: white;
}

.button-primary {
  background-color: #bda1cc !important;
  margin-right: 10px;
}

.button-secondary {
  background-color: #bda1cc !important;
  margin-left: 10px;
}

.carousel-inner {
  height: 100%;
}
