.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 60px; 
    column-gap: 100px; 
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item img {
    width: 60px;
    height: 60px;
  }