.avatar {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%; /* Ensures circular shape */
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.info-item:last-child {
  margin-right: 0;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}
